.main-content__h1 {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  padding-top: 40px;
  margin-bottom: 60px;
}

.project__tools {
  display: flex;
  justify-content: space-around;
  width: 830px;
  margin: 0 auto;
}

.project__link {
  text-decoration: none;
  color: inherit;
}
