.loading-bar {
  background-color: #725ead;
  height: 4px;
  position: absolute;
}

.main-content {
  background-color: white;
  max-width: 930px;
  min-height: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 2px 10px #0000001d;
}

.main-content__h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  padding: 50px;
}

.main-content__inner {
  margin-top: 20px;
}

.tool_header__edit_wrapper {
  display: block;
  width: 930px;
  height: 60px;
  padding-top: 20px;
  padding-right: 20px;
}

.tool_header__edit-container {
  float: right;
  padding: 0px;
  margin: 0px;
  position: relative;
  width: 30px;
  height: 30px;
}

.tool_header__edit {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 100%;
  float: right;
  background-image: url(asset_path("layout/edit_dots.svg"));
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
}


.tool_header__edit:active {
  background-color: #d9d9d9;
}

.tool_header__edit-animation-wrapper {
  width: 265px;
  height: 110px;
  position: relative;
  top: -50px;
  left: -215px;
  overflow: hidden;
  border-top-right-radius: 5px;
  cursor: default;
}

.tool_header__edit-menu {
  width: 265px;
  height: 110px;
  position: absolute;
  left: 265px;
  background-color: #1b6ac9;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
  color: white;
  transition: .2s;
  transition-timing-function: ease;
  z-index: 3;
}

.tool_header__edit-menu--opened {
  left: 0px;
  transition: .2s;
  transition-timing-function: ease;
}

.tool_header__edit-menu-button {
  margin-top: 20px;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  align-self: flex-end;
  border: 1px solid white;
  border-radius: 100%;
  float: right;
  background-image: url(asset_path("layout/edit-x.svg"));
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.tool_header__edit-menu-edit {
  margin-top: 20px;
  padding-left: 20px;
  height: 38px;
  font-size: 14px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.tool_header__edit-menu-edit:hover {
  background-color: #225092;
  width: 265px;
}

.tool_header_edit-menu-edit-text {
  color: white;
}

.tool_header__edit-wrench {
  margin-right: 8px;
}

.tool_header__container {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  align-items: center;
  width: 768px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.tool_header__h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.tool_header__plus_white {
  display: inline-block;
}

.tool_header__button {
  align-self: center;
  padding: 8px 13px 8px 29px;
  font-size: 13px;
  width: 93px;
  box-sizing: border-box;
  background-image: url(asset_path("layout/plus_white.svg"));
  background-repeat: no-repeat;
  background-position: 11px 7px;
  background-size: 16px;
  border: none;
  letter-spacing: 0.3px;
}

.tool_header__line {
  height: 1px;
  width: 770px;
  border-top: 3px solid #283c46;
  margin: 0 auto;
  margin-bottom: 20px;
}

// TODO create filter
.tool_header__filter {
  width: 95px;
}

.button--saving {
  box-sizing: border-box;
  background-color: red;
  background-image: url(asset_path("todos/pulse_loader.svg"));
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  from {background-size: 0px;}
  to {background-size: 160px;}
}
