.todoListIndex {
  padding-left: 150px;
  padding-right: 150px;
  margin-top: 20px;
}

.todoListItem {
  margin-bottom: 25px;
  list-style: none;
}

.todoListItem__name {
  margin-bottom: 15px;
  display: inline-block;
  font-weight: bold;
  color: #1b6ac9;
}

.todoListItem__description {
  width: 670px;
  height: 20px;
  margin-top: -5px;
  margin-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(109, 109, 109);
  font-style: italic;
}

.todosForm {
  width: 690px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.todosForm__input {
  border: none;
}

.todosForm__input--name {
  font-size: 18px;
  font-weight: bold;
  color: rgb(40, 60, 70);
  border-bottom: 1px solid rgb(229, 229, 229);
}

.todosForm__input--description {
  font-size: 14px;
  color: #a9a9a9;
}

.todosForm__buttons {
  display: flex;
}

.todosForm__button {
  padding: 5px 13px 5px 13px;
  line-height: 1.5;
  box-sizing: border-box;
  font-size: 13px;
  align-self: flex-start;
  margin-top: 15px;
  margin-bottom: 15px;
}

.todosForm__button:first-child {
  margin-right: 5px;
}

.todo {
  position: relative;
}
.todo__text {
  margin-bottom: 15px;
  list-style: none;
  padding-left: 32px;
  display: block;
  font-size: 16px;
  line-height: 24px;
}

.todo__checkbox {
  display: inline-block;
  position: absolute;
  left: 0px;
  flex-basis: 20px;
  width: 22px;
  height: 22px;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.todo__checkbox--checked {
  // content: "";
  background-image: url(asset_path("todos/check_box_check.svg"));
  background-repeat: no-repeat;
  background-size: 65%;
  background-color: #a1d0b4;
  background-position: center;
}

.todo__text_link {
  font-size: 16px;
  color: rgb(40, 60, 70);
  text-decoration: none;
}
