.time-picker {
  width: 96px;
  position: relative;
}

.time-picker__input {
  width: 96px;
  text-align: center;
}

.time-picker__ul {
  position: absolute;
  background-color: white;
  overflow-y: scroll;
  z-index: 3;
  height: 200px;
}
