.date-picker {
  width: 214px;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 0px rgb(191, 191, 191)
}

.date-picker__header {
  display: flex;
  justify-content: space-between;
  width: 214px;
  text-align: center;
  color: white;
  background-color: #283c46;
  font-weight: bold;
  padding: 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.date-picker__arrow {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.date-box {
  width: 30px;
  height: 30px;
  text-align: center;
}

.date-box--day-of-week {
  font-weight: bold;
  text-align: center;
  padding-top: 8.5px;
}

.date-box--button {
  // background-color: white;
  border: none;
  cursor: pointer;
}

.date-box--selected {
  background-color: #283c46;
  color: white;
  border-radius: 100%;
}

.date-box--selected.date-box--current-day {
  color: white;
  font-weight: bold;
}

.date-box--current-day {
  color: rgb(212, 68, 46);
  font-weight: bold;
}
