.date-picker {
  width: 214px;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 0px rgb(191, 191, 191);
  background-color: white;
}

.date-picker--large {
  width: 351px;
  height: 100%;
  box-shadow: none;
}

.date-picker--large:last-of-type {
  border-right: 1px solid #f2f2f2;
}

.date-picker__header {
  display: flex;
  justify-content: space-between;
  width: 214px;
  text-align: center;
  color: white;
  background-color: #283c46;
  font-weight: bold;
  padding: 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.date-picker__header--large--left {
  width: 351px;
  height: 29px;
  border-top-right-radius: 0px;
  display: inline-block;
}

.date-picker__header--large--right {
  width: 351px;
  height: 29px;
  border-top-left-radius: 0px;
  display: inline-block;
}

.date-picker__arrow {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.date-picker__arrow--large--left {
  float: left;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.date-picker__arrow--large--right {
  float: right;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.date-box {
  width: 30px;
  height: 30px;
  text-align: center;
}

.date-box--large {
  width: 50px;
  height: 50px;
  border-left: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

.date-box--day-of-week {
  font-weight: bold;
  text-align: center;
  padding-top: 8.5px;
}

.date-box--day-of-week--large {
  background-color: #283c46;
  color: rgba(255,255,255,0.8);
  border: none;
  font-weight: 400;
  height: 20px;
  padding-top: 1px;
  font-size: 12px;
}

.date-box--button {
  border: none;
  cursor: pointer;
}

.date-box--button--large {
  border-left: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}


.date-box--selected {
  background-color: #283c46;
  color: white;
  border-radius: 100%;
}

.date-box--selected.date-box--selected--large {
  border-radius: 0%;
}

.date-box--selected.date-box--current-day {
  color: white;
  font-weight: bold;
}

.date-box--current-day {
  color: rgb(212, 68, 46);
  font-weight: bold;
}

.shaking {
  background-color: #FBF694;
  animation: shake 0.42s infinite ease;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
    opacity: 0%;
  }

  20%, 80% {
    transform: translate3d(1px, 0, 0);
    opacity: 20%;
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
    opacity: 70%;
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
    opacity: 40%;
  }
}
