/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
    box-sizing: border-box
}

body {
  font-family: "helvetica neue", sans-serif;
  background-color: #f6f2ef;
  color: #283c46;
}

body.splash {
  background-color: white;
}

input:focus {
  outline: none;
  border: 0.5px solid #a4d2ff;
  box-shadow: 0 0 6px rgba(27,106,201,0.5);
}

.button {
  text-decoration: none;
  border-radius: 35px;
  font-family: sans-serif;
}

.button:hover {
  cursor: pointer;
}

.button--blue {
  background-color: #007bb6;
  color: white;
}

.button--green {
  background-color: #2da562;
  color: white;
}

.button--blue:hover {
  background-color: #283c46;
}
